/* Estilos globales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    background: rgb(243,243,243);
    background: linear-gradient(180deg, rgba(243,243,243,1) 66%, rgba(39,39,39,.15) 100%);
    color: #272727;
}

h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
}

h4 {
    font-size: 1.5em;
    font-weight: 300;
}

h6 {
    font-size: 0.85em;
    font-weight: 300;
    text-transform: uppercase;
}

p, li {
    font-size: 1.15em;
    line-height: 1.35em;
}

a {
    color: #F3F3F3;
    text-decoration: none;
}

main {
    padding-top: 12em;
}

img {
    vertical-align: bottom;
}

/* Estilos del encabezado */

header {
    z-index: 20;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    width: 100%;
    background-color: #272727;
}

.website-logo {
    padding: 1%;
}

.website-logo img {
    width: 60px;
    height: 60px;
}

/* Estilos del menú de navegación */

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 6.5em;
    padding: 0 10%;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2em;
}

.nav-menu ul li {
    font-size: 1em;
    display: inline-block;
    text-align: right;
}

.nav-menu ul li:last-child {
    margin-right: 0;
}

.nav-menu ul li a {
    text-decoration: none;
    padding: 1px 1.5px;
    display: block;
    text-transform: uppercase;
}

.nav-menu ul li a:hover {
    color: #FFE250;
}

.active-page {
    color: #FFE250;
    border-bottom: 1.5px solid #FFE250;
}

.hamburger {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    background: none;
    border: none;
    color: #F3F3F3;
}

/* Estilos del menú móvil */

.mobile-nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    padding-top: 3em;
    gap: 2em;
    list-style: none;
    background-color: #272727;
}

.mobile-nav-menu li {
    font-size: 1.5em;
}

.mobile-nav-menu li a {
    color: #F3F3F3;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em 2em;
    display: block;
}

/* Slider */

main .home-section {
    padding-top: 6.5em;
}

.slider-container {
    position: relative;
    z-index: 0;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    min-height: 90.5vh;
    background-size: cover;
    background-position: center;
}

/* Controles del slider */

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    background: transparent; /* Fondo transparente */
    color: rgba(255, 255, 255, 0.5);
}

.prev {
    left: 1em;
}

.next {
    right: 1em;
}

.prev:hover, .next:hover {
    color: rgba(255, 255, 255);
}

/* Indicadores de la posición */

.indicators {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.indicator {
    height: 10px;
    width: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.indicator.active {
    background-color: rgba(255, 255, 255);
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;
}

/* Texto flotante del slider */

.introname-content {
    position: absolute;
    top: 9.6em;
    left: 10.6%;
    display: flex;
    flex-direction: column;
}

.btn-introname-content {
    position: absolute;
    top: 8em;
    display: flex;
}

.intro-content {
    position: absolute;
    top: 23em;
    left: 10.6%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 20em;
}

.intro-text-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/* Estilos de contenido */

.slider-content, .aboutmetext-content, .contacttext-content, .intro-contacttext-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 2em;
    width: 100%;
}

.projects-home-content {
display: flex;
flex-direction: column;
gap: 0.5em;
padding-bottom: 2em;
width: 100%;
}

.gallery-home-section {
    display: flex;
    gap: 2em;
}

.projects-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 8em 4em 8em;
    width: 100%;
    text-align: center;
}

.gallery-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 1em;
}

.row-gallery-section {
    display: flex;
    gap: 2em;
}

.contact-title-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding-bottom: 3em;
}

.contact-links-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.contact-links-content i {
    padding-right: 1em;
}

.skills-aboutme-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.skillslist-aboutme-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1em;
    gap: 3em;
}

.aboutme-content {
    display: flex;
    flex-direction: row-reverse;
    gap: 4em;
    justify-content: center;
    align-items: center;
}

.aboutmeimg-content img {
    width: 100%;
    max-width: 100%;
    object-position: center;
    object-fit: cover;
    height: 100%;
}

.info-aboutmetext {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.buttons-aboutme-content {
    display: flex;
    gap: 2em;
}

.aboutme-exp-edu {
    display: flex;
    gap: 5em;
    justify-content: center;
    margin-top: 5em;
}

.box-aboutme-exp-edu {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.item-aboutme-exp-edu {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.row-aboutme-exp-edu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-contacttext-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 2em 0;
}

.linkslist-contacttext-content {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    gap: 3em;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.gallery-item {
    position: relative;
}

.gallery-item img {
    width: 100%;
    max-width: 100%;
    object-position: center;
    object-fit: cover;
    height: 100%;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.gallery-item .overlay {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    gap: 2em;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    opacity: 0;
    transition: all 0.5s ease;
}

.gallery-item .overlay h4 {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    color: #F3F3F3;
    text-align: center;
}

.overlay:hover {
    opacity: 1;
}

.home-projects-content {
    display: flex;
    flex-direction: row-reverse;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

.home-contact-content {
    display: flex;
    gap: 2em;
}

.container {
    margin-bottom: 5em;
    padding: 0 10%;
    width: 100%;
}

.home-section .container {
    margin-bottom: 5em;
    padding: 0;
    width: 100%;
}

/* Botones */

.overlay-btn {
    align-items: center;
    justify-content: center;
    background-color: #272727;
    color: #F3F3F3;
    border: none;
    border-radius: .3em;
    padding: 1em 1.5em;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.overlay-btn:hover {
    color: #FFE250;
}

.contact-btn, .cv-btn {
    align-items: center;
    justify-content: center;
    background-color: #272727;
    color: #F3F3F3;
    border: none;
    border-radius: .3em;
    padding: 1em 1.5em;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.contact-btn:hover, .cv-btn:hover {
    color: #FFE250;
}

.link-text {
    width: fit-content;
    color: #FFE250;
}

.link-text:hover {
    text-decoration: underline;
}

.social-btn {
    align-items: center;
    justify-content: center;
    background-color: #272727;
    color: #F3F3F3;
    border: none;
    border-radius: .3em;
    padding: 1em;
    transition: background-color 0.3s;
}

.social-btn:hover {
    color: #FFE250;
}

.form-contact-content .submit-btn {
    background-color: #272727;
    color: #F3F3F3;
    border: none;
    border-radius: .3em;
    padding: 1em 1.5em;
    text-transform: uppercase;
    transition: background-color 0.3s;
    width: fit-content;
}

.form-contact-content .submit-btn:hover {
    color: #FFE250;
}

/* Formulario de contacto */

.form-contact-content input {
    width: 100%;
    padding: 1em;
    margin: 0.5em 0 1.5em 0;
    border: 1px solid #272727;
    border-radius: .3em;
}

.form-contact-content textarea {
    width: 100%;
    height: 15em;
    padding: 1em;
    margin: 0.5em 0 1.5em 0;
    border: 1px solid #272727;
    border-radius: .3em;
}

.column-form-contact-content {
    display: flex;
    gap: 2em;
}

.name-form-contact-content, .topic-form-contact-content, .email-form-contact-content, .phone-form-contact-content {
    width: 100%;
}

.form-contact-content {
    width: 100%;
}

.submit-form-contact-content {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

/* Anuncios */

.ad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    padding: 0 10%;
    width: 100%;
}

iframe.ad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 728px;
    height: 90px;
}

/* Estilos del pie de página */

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 1rem 10%;
    width: 100%;
    bottom: 0;
    background-color: #272727;
}

footer p {
    margin: 0;
    color: #F3F3F3;
}

footer .fa-brands {
    color: #F3F3F3;
}

footer .fa-brands:hover {
    color: #FFE250;
}

.copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    list-style: none;
}

/* Media queries */

@media (max-width: 1024px) {

    .home-contact-content {
        display: block;
    }

    .home-projects-content {
        display: block;
    }

    .contacttext-content {
        width: 100%;
    }

    .aboutme-exp-edu {
        flex-direction: column;
    }

    .slide {
        min-height: 92vh;
    }

    .projects-content {
        padding: 0 4em 4em 4em;
    }
}

@media (max-width: 824px) {

    main {
        font-size: 0.85em;
    }

    .social-icons {
        justify-content: center;
        gap: 3em;
    }

    .copyright {
        flex-direction: column-reverse;
        gap: 1em;
    }

    .slide {
        min-height: 92vh;
    }

    .column-form-contact-content {
        display: block;
    }

    .contact-links-content {
        padding-top: 4em;
    }

    .aboutme-content {
        display: block;
    }
}

@media (max-width: 624px) {

    h1 {
        font-size: 3.5em;
    }

    .hamburger {
        display: block;
    }

    .mobile-nav-menu {
        display: none;
    }

    .nav-menu ul {
        display: none;
    }

    .introname-name-content {
        font-size: 0.81em;
    }

    .gallery-home-section {
        flex-direction: column;
    }

    .projects-content {
        padding: 0 0 2em 0;
    }

    .row-gallery-section {
        display: flex;
        flex-direction: column;
    }

    .slide {
        min-height: 90.5vh;
    }

    .introname-content {
        gap: 7px;
        left: 3em;
    }

    .btn-introname-content {
        position: absolute;
        top: 12.5em;
    }

    .intro-content {
        display: none;
    }

    .skillslist-aboutme-content {
        gap: 2.8em;
    }

.links-contacttext-content {
    padding: 0 0 2em 0;
}

.mail-contacttext-content {
    text-align: center;
    padding: 1em 0 3em 0;
}

.mail-contacttext-content p {
    line-height: 2em;
}

.mail-contacttext-content p .link-text {
    font-size: 1.25em;
}

    iframe.ad {
        width: 300px;
        height: 600px;
    }
}